@tailwind base;
@tailwind components;
@tailwind utilities;


.img-bg{
    background-image: url('../src/components/images/image1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background: linear-gradient(to right,rgba(0,0,0,0.2) ,rgba(0,0,0,0.4) ); */
    
};

/* .w-msg{
    background-color: ;
} */
